.main-content {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > div {
    max-width: 250px;
    width: 100%;
}

